html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.article{
    font-size: 24px;
    margin-bottom: 10px;
    background: none repeat scroll 0% 0% rgb(255,255,255);
    border: 1px solid rgb(230,230,230);
    border-radius: 4px;
    padding: 15px;
}

.article:hover{
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    border-color: #d6d6d6
}








article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

::-moz-selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    background: #ea4c89
}

::selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    background: #ea4c89
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

img {
    max-width: 100%;
    height: auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.text-right {
    text-align: right
}

.clearfix:before, .clearfix:after {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.btn {
    background: #ccc;
    color: #fff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    border-radius: 4px;
    padding: 12px 20px;
    line-height: 1;
    font-size: 13px
}

.btn:hover {
    background: #ea4c89
}

input[type="text"], input[type="search"] {
    border: 1px solid #e6e6e6;
    padding: 4px 6px;
    background: #fff
}

input[type="text"]:focus, input[type="search"]:focus {
    border-color: #00adef;
    outline: none
}

input[type="submit"] {
    background: #ccc;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid #ccc
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background: #474E5D;
    cursor: pointer;
    outline: none
}

.inline-ul {
    font-size: 0;
    *word-spacing: -1px
}

.inline-ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .inline-ul {
        letter-spacing: -5px
    }
}

body, html {
    background: #F0F0F0;
    font: 14px/1.8 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', Arial, 'Hiragino Sans GB', '\5B8B\4F53';
    color: #666
}

a {
    color: #5e5e5e;
    text-decoration: none
}

a:hover, a:link, a:visited {
    text-decoration: none;
    outline: 0
}

p, h1, h2, h3, h4, h5, p, table {
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.inner:before, .inner:after {
    display: table;
    content: ""
}

.inner:after {
    clear: both
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
    zoom: 1
}

.site-header {
    background: #fff;
    padding: 20px 0 0;
    border-bottom: 1px solid #e6e6e6
}

.site-branding {
    padding-right: 20px;
    height: 36px;
    margin-bottom: 20px;
}

.site-branding h1 {
    margin-bottom: 0;
}

.site-branding a {
    display: block;
}

.main-navigation {
    float: right;
    margin-bottom: 20px;
    zoom: 1;
}

.main-navigation:before, .main-navigation:after {
    display: table;
    content: "";
}

.main-navigation:after {
    clear: both;
}

.main-navigation button {
    display: none
}

.main-navigation .menu li {
    float: left;
    margin-left: 10px;
    position: relative;
    display: inline;
}

.main-navigation .menu li:hover > a {
    background: #474e5d;
    color: #fff
}

.main-navigation .menu li a {
    display: block;
    line-height: 36px;
    font-size: 16px;
    padding: 0 15px;
    color: #474e5d
}

.main-navigation .menu li a:hover {
    background: #474e5d;
    color: #fff
}

.main-navigation .menu > .current-menu-item > a, .main-navigation .menu > .current-post-ancestor > a {
    border-radius: 4px;
    background: #ea4c89;
    color: #fff
}

.main-navigation .menu > li:hover > a {
    border-radius: 4px
}

.main-navigation .menu > .menu-item-has-children:hover > a {
    border-radius: 4px 4px 0 0
}

.main-navigation .menu ul {
    display: none;
    background: #474e5d;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 120px
}

.main-navigation .menu ul li {
    float: none;
    white-space: nowrap;
    margin-left: 0
}

.main-navigation .menu ul li a {
    color: #b3b5ba
}

.main-navigation .menu ul li a:hover {
    background: #ea4c89
}

.main-navigation .menu li:hover > ul {
    display: block
}

.main-navigation .menu ul ul {
    display: none;
    left: 100%;
    top: 0
}

.main-navigation .menu ul li:hover > ul {
    display: block
}

.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 0;
    letter-spacing: normal;
    margin-right: 10px;
    display: none
}

.hentry .entry-title {
    font-size: 24px;
    margin-bottom: 10px
}

.entry-title a {
    color: #444
}

.entry-title a:hover {
    color: #ea4c89
}

.entry-meta {
    margin-bottom: 10px;
    color: #a5a5a5
}

.entry-meta .muted, .entry-footer .muted {
}

.entry-meta .space, .space, .sep {
    padding: 0 10px
}

.entry-meta a {
    color: #ea4c89;
    opacity: 0.8
}

.site-content {
    margin-top: 20px
}

.site-content .page-header {
    background: #474E5D;
    background: #444444;
    color: #fff;
    padding: 20px 0;
    margin-top: -20px;
    margin-bottom: 20px;
    line-height: 2
}

.site-content .page-header .page-title {
    font-size: 28px
}

.site-content .page-header .inner {
    padding: 15px
}

.site-content .page-header .taxonomy-description {
    max-width: 800px
}

.site-content .page-header #crumbs a {
    color: #fff
}

.content-area, .left-area {
    width: 100%;
    float: left
}

.site-main, .left-main {
    margin-right: 380px;
}

.site-main .hentry {
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 15px
}

.site-main .hentry:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    border-color: #d6d6d6
}

.site-main .hentry .post-thumbnail {
    float: right;
    margin-left: 25px;
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    border-radius: 4px
}

.site-main .hentry .post-thumbnail:hover {
    opacity: 0.8
}

.site-main .hentry p {
    margin-bottom: 16px;
    word-break: break-all;
    word-wrap: break-word;
}

a.demolink {
    background-color: #00AADD;
    opacity: 0.8;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #FFFFFF !important;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
}

a.demolink.blue {
    background-color: #006DCC;
}

a.demolink.purple {
    background-color: #9B59B6
}

a.demolink.black {
    background-color: #34495E
}

a:hover.demolink {
    opacity: 1;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6, table {
    margin-bottom: 10px
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd
}

table td {
    padding: 4px 8px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.site-main .hentry ul {
    list-style-type: disc;
    margin: 0 0 10px 20px
}

.site-main .hentry li {
    line-height: 24px
}

.site-main .hentry ol {
    list-style-type: decimal;
    margin: 0 0 10px 20px
}

.align-left {
    float: left;
    display: inline;
    padding-right: 15px
}

.align-right {
    float: right;
    display: inline;
    padding-left: 15px
}

.site-main .hentry .entry-content a {
    color: #ea4c89
}

.site-main .hentry .entry-content a:hover {
    color: #00adef
}

.site-main .hentry .entry-content .read-more, .site-main .hentry .entry-content .read-more:hover {
    color: #fff
}

.byline, .updated {
    display: none
}

.single .site-main .hentry:hover {
    box-shadow: none
}

.single .byline {
    display: inline
}

.pagination {
    padding-bottom: 20px;
    text-align: center
}

.pagination a, .pagination span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 3px;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 3px;
    background: #CCCCCC;
    color: #fff
}

.pagination span.current {
    background: #00adef
}

.pagination a:hover {
    background: #00adef
}

.nav-links {
    zoom: 1
}

.nav-links:before, .nav-links:after {
    display: table;
    content: ""
}

.nav-links:after {
    clear: both
}

.nav-links a {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    color: #00adef
}

.nav-links a:hover {
    background: #00adef;
    border-color: #00adef;
    color: #fff
}

.nav-links .nav-previous {
    float: left
}

.nav-links .nav-next {
    float: right
}

.comment-list .comment {
    padding-left: 76px;
    position: relative
}

.comment-list .comment-body {
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #e6e6e6;
}

.comment-list .comment-body:hover {
    border-color: #d6d6d6;
}

.comment-list .comment-meta {
    zoom: 1;
    margin-right: 40px;
    color: #a5a5a5
}

.comment-list .comment-meta a {
    color: #a5a5a5
}

.comment-list .comment-meta a:hover {
    color: #ea4c89
}

.comment-list .comment-meta:before, .comment-list .comment-meta:after {
    display: table;
    content: ""
}

.comment-list .comment-meta:after {
    clear: both
}

.comment-list .comment-author {
    float: left;
    margin-bottom: 10px;
    padding-right: 10px
}

.comment-list .comment-author .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    border-radius: 4px
}

.comment-list .comment-metadata {
    float: left;
    margin-bottom: 10px
}

.comment-list .reply {
    position: absolute;
    right: 15px;
    top: 12px
}

.comment-list .reply a {
    display: block;
    color: #a5a5a5;
    padding: 3px 10px;
    border-radius: 3px
}

.comment-list .reply a:hover {
    background: #00adef;
    color: #fff
}

.comment-form p {
    margin-bottom: 10px;
    overflow: hidden;
    zoom: 1
}

.comment-form input {
    border: 1px solid #e6e6e6;
    padding: 6px 10px;
    float: left
}

.comment-form input:focus {
    border-color: #00adef;
    outline: none
}

.comment-form label {
    margin-left: 10px;
    line-height: 30px
}

.comment-form-comment label[for=comment] {
    display: none
}

#respond textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px
}

#respond textarea:focus {
    outline: none;
    border-color: #00adef
}

#respond .comment-reply-title {
    font-size: 18px;
    color: #474e5d;
    margin-bottom: 10px;
    font-weight: bold
}

#respond .comment-reply-title small {
    font-size: 14px;
    color: #999;
    font-weight: normal;
    padding-left: 5px
}

#respond .logged-in-as, #respond .comment-notes {
    color: #626773
}

#respond .form-allowed-tags {
    display: none
}

#respond .form-submit {
    text-align: right
}

#submit {
    float: right;
    padding: 10px 15px;
    background: #737f99;
    border-radius: 3px;
    border: 1px solid #737f99;
    text-align: right;
    color: #fff
}

#submit:hover, #submit:focus {
    background: #00adef;
    border-color: #00adef;
    cursor: pointer;
    outline: none
}

.comment-awaiting-moderation {
    clear: both;
    margin-bottom: 10px
}

.widget-area, .right-area {
    display: inline;
}

.widget-area .widget {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 15px
}

.widget-area .widget:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    border-color: #d6d6d6
}

.widget-area .widget-title {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px
}

.widget-area .widget a:hover {
    color: #ea4c89
}

.widget-area .widget ul li {
    line-height: 30px;
    margin-bottom: 4px
}

.widget-area .widget .nopadding {
    margin: -16px;
    background: #fff
}

.widget-area .widget .nopadding img {
    display: block
}

.widget-area .widget .tagcloud a:hover {
    background: #00adef;
    color: #fff
}

.widget-area .widget .nav-tabs li {
    margin: 0 10px -1px 0
}

.nav-tabs .active, .nav-tabs li:hover {
    border-bottom-color: #EA4C89;
    color: #EA4C89
}

.widget-area .widget .nav-tabs .active {
    color: #EA4C89;
    border-bottom-color: #EA4C89
}

.tab-content .tab-panel li {
    margin-bottom: 4px;
    border-bottom: 1px solid #ddd;
    margin: 0 -15px -1px;
    padding: 0 15px 15px 25px;
    line-height: 1.4;
}

.tab-content .tab-panel li:last-child {
    border-bottom: 0;
}

.tab-content .tab-panel .entry-meta a, .tab-content .tab-panel .entry-meta {
    color: #a5a5a5;
    font-size: 12px;
    margin-bottom: 5px;
}

.content .entry-meta, .content .entry-meta a {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.tab-content .tab-panel li a {
    color: #34ae5b
}

.tab-content .tab-panel h4 {
    font-size: 16px;
    line-height: 1.4;
}

.tab-content .tab-panel h4 a {
    color: #34ae5b;
}

.popular-posts-wrapper li {
    margin: 0 -15px 10px;
    border-bottom: 1px solid #ddd;
}

.popular-posts-wrapper li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.popular-posts-wrapper .content {
    padding: 0 15px;
}

.related_posts li {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 0 3px 3px 0;
}

.related_posts li:hover {
    background: #3AC265;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    border-radius: 3px 0 0 3px;
}

.related_posts .content {
    height: 150px;
    padding: 15px 25px;
    overflow: hidden;
}

.related_posts .entry-meta, .related_posts .entry-meta a {
    font-size: 12px;
    color: #b6b3aa;
}

.related_posts .entry-title {
    font-size: 16px;
    line-height: 28px;
    height: 28px;
    overflow: hidden;
}

.related_posts a {
    color: #34ae5b
}

.related_posts a:hover, .related_posts .entry-meta a:hover, .related_posts li:hover a, .related_posts li:hover .entry-meta {
    color: #fff
}

.alert-warning {
    background: #faebcc;
    border: 1px solid #fcf8e3;
    border-radius: 4px;
    color: #8a6d3b;
    padding: 15px 15px 0;
    margin-bottom: 15px
}

.alert-warning a {
    color: #6B6B6B
}

.author-bio {
    clear: both;
    margin: 0 -15px 0;
    padding: 20px 20px;
    border-top: 1px solid #ddd
}

.author-bio .avatar {
    float: left
}

.site-main .author-bio-content h4 {
    font-size: 14px;
    margin-top: 0
}

.author-bio .author-bio-content {
    margin-left: 74px;
    margin-bottom: 0
}

.site-main .author-bio .author-description {
    margin-bottom: 0
}

.site-footer {
    background: #474E5D;
    padding: 30px 0 20px;
    font-size: 12px;
    font-family: Arial, '\5B8B\4F53'
}

.footer-info {
    color: #b3b5ba
}

.site-footer .footer-info a {
    color: #b3b5ba
}

.site-footer .footer-info a:hover {
    color: #fff
}

.footer-menu .menu li {
    margin-right: 15px;
    margin-bottom: 14px
}

.prefooter {
    background: #E6E6E6;
    padding: 20px 0
}

.prefooter .widget-title {
    font-size: 18px;
    margin-bottom: 10px
}

.prefooter .widget ul {
    font-size: 0;
    *word-spacing: -1px
}

.prefooter .widget ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top
}

.links {
    padding-top: 10px;
}

.links li {
    padding-right: 15px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .prefooter .widget ul {
        letter-spacing: -5px
    }
}

.prefooter .widget ul li a {
    display: block
}

.prefooter .widget ul li a:hover {
    color: #34ae5b
}

.prefooter .widget ul ul {
    display: none
}

.prefooter .row-6 ul li {
    width: 20%;
    display: inline-block
}

.prefooter .row-3 ul li {
    width: 49%;
    display: inline-block
}

@media screen and (max-width: 768px) {
    .main-navigation {
        float: none;
    }

    .site-main .hentry .post-thumbnail {
        display: none;
    }

    .site-branding {
        padding-right: 0;
        float: none;
        text-align: center;
    }

    .content-area, .left-area {
        width: 100%;
        float: none;
    }

    .site-main, .left-main {
        margin-right: 0;
    }

    .widget-area, .right-area {
        float: none;
        margin-left: 0;
        width: auto;
        display: block;
    }
}