{% extends "base.html" %}
 {% block title %}
       {{article["title"]}}
        {% end %}
{% block header %}
<link href="/static/css/pygments.css" rel="stylesheet">
{% end %}

{% autoescape None %}

{% block left_block %}
<div class="article-full">
    <div class="article-title" id="article_title">{{article["title"]}}</div>
    <p></p>

    <!--<div class="article-time text-info">发表时间：{{article["time"]}}-->
    <!--{% if article.has_key("modify_time") %}-->
        <!--&nbsp;&nbsp;&nbsp;最后更新：{{article["modify_time"]}}-->
        <!--{% end %}-->
    <!--</div>-->
<div class="article-infos">
                <span class="article-info"><span class=" glyphicon glyphicon-time"></span><span>{{article["time"]}}</span></span>
                <span class="article-info"><span class="glyphicon glyphicon-eye-open"></span><span>{% if article.has_key("visit_count") %} {{ article["visit_count"]}} {% else %} 0 {% end %}浏览</span></span>
                <span class="article-info"><a href="/"><span class="glyphicon glyphicon-comment"></span><span>0评论</span></a></span>

        </div>
    <div class="article_content">{{article["content"]}}</div>
</div>
{% end %}

{% block right_block %}

{% end %}
