{% extends "base.html" %}
{% block title %}
{{article["title"]}}
{% end %}
{% block header %}
<link href="/static/css/pygments.css" rel="stylesheet">
{% end %}

{% autoescape None %}

{% block left_block %}
<div class="article-full">
    <div class="article-title" id="article_title">{{article["title"]}}</div>
    <p></p>

    <!--<div class="article-time text-info">发表时间：{{article["time"]}}-->
    <!--{% if article.has_key("modify_time") %}-->
    <!--&nbsp;&nbsp;&nbsp;最后更新：{{article["modify_time"]}}-->
    <!--{% end %}-->
    <!--</div>-->
    <div class="article-infos">
        <span class="article-info"><span
                class=" glyphicon glyphicon-time"></span><span>{{article["time"]}}</span></span>
        <span class="article-info"><span class="glyphicon glyphicon-eye-open"></span><span>{% if article.has_key("visit_count") %} {{ article["visit_count"]}} {% else %} 0 {% end %}浏览</span></span>
        <span class="article-info"><a href="/"><span
                class="glyphicon glyphicon-comment"></span><span>0评论</span></a></span>

    </div>
    <div class="article_content">{{article["content"]}}</div>

	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key= {{article["title"]}} data-title={{article["title"]}} data-url="请替换成文章的网址"></div>
		<!-- 多说评论框 end -->
				<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
				<script type="text/javascript">
					var duoshuoQuery = {short_name:"aprilwei2"};
						(function() {
										var ds = document.createElement('script');
												ds.type = 'text/javascript';ds.async = true;
														ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
																ds.charset = 'UTF-8';
																		(document.getElementsByTagName('head')[0] 
																					 || document.getElementsByTagName('body')[0]).appendChild(ds);
																					})();
																						</script>
																						<!-- 多说公共JS代码 end -->
</div>
<script>
	
    WB2.anyWhere(function (W) {
        W.widget.connectButton({
            id: "wb_connect_btn",
            type: '3,2',
            callback: {
                login: function (o) { //登录后的回调函数
                    console.log(o)
//                    alert("login: " + o.screen_name)
                },
                logout: function () { //退出后的回调函数
//                    alert('logout');
                }
            }
        });
    });
</script>
{% end %}

{% block right_block %}

{% end %}
