<!DOCTYPE html>
<html  xmlns:wb="http://open.weibo.com/wb">
<head>
    <title>{% block title %}{% end %}</title>
    <meta charset="UTF-8"/>
    <meta content="webkit" name="renderer"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <meta content="no-transform " http-equiv="Cache-Control"/>
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta property="wb:webmaster" content="b3d6a02d84039c67" />
<!--
    <meta name="alexaVerifyID" content="Ii-mYszhn_DzpCi04dgznwQtKK0"/>
-->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1938906951&debug=true" type="text/javascript" charset="utf-8"></script>

    {% block header %}{% end %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navul" >
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-delay="0" data-hover="dropdown"
                       data-toggle="dropdown">
                        关于技术
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Android/Java</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Linux</a></li>
                        <li><a href="#">Javascript Full Stack</a></li>
                    </ul>
                </li>
                <li><a href="#">关于生活</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="/comments">留言</a></li>
                <li><a href="#">实验室</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" id="search_btn">搜一下</button>
            </form>
        </div>
    </div>
</nav>


<div class="container main">
    <div class="row">
        <div id="main_area" class="main_area col-md-8">
            {% block left_block %} {% end %}
        </div>
        <!-- #main -->
        <!-- #primary -->

        <div id="widget-area" class="widget-area col-md-4" role="complementary">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                <div class="widget">
                    <div class="widget-title">
                        说明
                    </div>
                    <div class="widget-content">
                        <p>网站用于学习</p>

                        <p>正在开发中</p>

                        <p>站长很懒</p>

                        <p>写的很慢</p>

                    </div>
                </div>

                {% block right_block %} {% end %}
            </div>
            </div>

        </div>
        <!-- #secondary -->
    </div>
</div>
<div class="navbar">
    <div class="container">
        <footer>
            <p class="pull-right"><a href="#">返回顶部</a></p>


            <p>网站源码： <a href="https://github.com/fortianwei/woshiyouduolan">here</a>.</p>
        </footer>
    </div>
</div>


<!-- #content -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap_dropdown_hover.js"></script>
<script>
    $('#search_btn').click(function () {
        alert("这个懒惰的开发者还没来得及做这个呢o_O!");
    })
</script>

</body>

</html>
