<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    {% block header %}{% end %}
</head>
<body>
<div class="desc ">
    <h3>个人学习博客</h3>
</div>

<nav class="center-block navbar navbar-default " role="navigation">

    <div>
        <div class="nav-divider"></div>
        <ul class="nav navbar-nav container">
            <li ><a href="/">主页</a></li>
<!--            <li><a href="#">Nav-Sample 2</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-delay = "0" data-hover="dropdown" data-toggle="dropdown">
                    Nav-Sample 3
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">javascript</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Bootstrap</a></li>
                </ul>
            </li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-delay = "0" data-hover="dropdown" data-toggle="dropdown">
                    关于技术
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Android/Java</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Linux</a></li>
                    <li><a href="#">Javascript Full Stack</a></li>
                </ul>
            </li>
            <li><a href="#">关于生活</a></li>
            <li><a href="#">关于我</a></li>
            <li><a href="#">留言</a></li>
            <li><a href="#">实验室</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div id="main_area" class="main_area col-md-8">
                {% block left_block %} {% end %}
        </div>
        <!-- #main -->
        <!-- #primary -->

        <div id="widget-area" class="widget-area col-md-4" role="complementary">
            <div class="col-md-10">
                <div class="widget">
                    <div class="widget-title">
                        说明
                    </div>
                    <div class="widget-content">
                        <p>网站用于学习</p>
                        <p>正在开发中</p>
                        <p>这是如此的脆弱</p>
                        <p>所以高手别ATTACK</p>

                    </div>
                </div>

                {% block right_block %} {% end %}
            </div>


        </div>
        <!-- #secondary -->
    </div>
</div>
<!-- #content -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap_dropdown_hover.js"></script>
</body>

</html>