{% extends "base.html" %}
{% block title %}
留言
{% end %}
{% block header %}
<link href="/static/css/pygments.css" rel="stylesheet">
<script>
    /*function weiboLogin() {
        WB2.login(function (o) {
            alert(111);
            alert(o);
        });
    }
*/
    WB2.anyWhere(function (W) {
        W.widget.connectButton({
            id: "wb_connect_btn",
            type: '3,2',
            callback: {
                login: function (o) { //登录后的回调函数
                    console.log(o)
//                    alert("login: " + o.screen_name)
                },
                logout: function () { //退出后的回调函数
//                    alert('logout');
                }
            }
        });
    });
</script>
{% end %}

{% autoescape None %}

{% block left_block %}
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="comments" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
	<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"aprilwei2"};
				(function() {
								var ds = document.createElement('script');
										ds.type = 'text/javascript';ds.async = true;
												ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
														ds.charset = 'UTF-8';
																(document.getElementsByTagName('head')[0] 
																			 || document.getElementsByTagName('body')[0]).appendChild(ds);
																			})();
																				</script>
																				<!-- 多说公共JS代码 end -->
{% end %}

{% block right_block %}

{% end %}
