{% extends "base.html" %}
 {% block title %}
        田威is studing
        {% end %}
        {% block header %}
        {% end %}

{% block left_block %}
<articles id="articles" >
    {% for article in articles %}
    <article id="post-2753" class="article"
            >
        <h2 class="article-title"><a href="/article/{{article['id']}}" rel="bookmark">{{article['title']}}</a></h2>

        <div class="article-infos">
                <span class="article-info"><span class=" glyphicon glyphicon-time"></span><span>{{article["time"]}}</span></span>
                <span class="article-info"><a href="/"><span class="glyphicon glyphicon-eye-open"></span><span>0浏览</span></a></span>
                <span class="article-info"><a href="/"><span class="glyphicon glyphicon-comment"></span><span>0评论</span></a></span>

        </div>
        <!-- .entry-meta -->
        <!-- .entry-header -->

        <div class="article-content">
            <p>{{article["content"][0:200]}}[…]</p>

        </div>
        <a class="btn btn-info read-more" rel="nofollow" href="/article/{{article['id']}}"
           title="{{article['title']}}">阅读全文</a>
        <!-- .entry-content -->
    </article>
    <!-- #post-## -->
    {% end %}
</articles>
{% end %}
<!-- #main -->
<!-- #primary -->
{% block right_block %}
    <aside id="recent-posts-3" class="widget"><h3 class="widget-title">最新文章</h3>
        <div class="widget-content">
        <ul>
            {% for article in articles2 %}
            <li>
                <a href="/article/{{article['id']}}">{{article['title']}}</a>
            </li>
            {% end %}
        </ul>
         </div>
    </aside>
    
{% end %}
