{% extends "base.html" %}

        {% block header %}
        {% end %}

{% block left_block %}
<articles id="articles" >
    {% for article in articles %}
    <article id="post-2753" class="article"
            >
        <h2 class="article-title"><a href="/article/{{article['id']}}" rel="bookmark">{{article['title']}}</a></h2>

        <div class="entry-meta">
                    <span class="posted-on"><i class="fa fa-calendar"></i> <time class="entry-date published"
                                                                                 datetime="2014-11-05T09:38:43+00:00">
                        {{article["time"]}}
                    </time></span></div>
        <!-- .entry-meta -->
        <!-- .entry-header -->

        <div class="article-content">
            <p>{{article["content"][0:200]}}[…]</p>

        </div>
        <a class="btn btn-info read-more" rel="nofollow" href="/article/{{article['id']}}"
           title="{{article['title']}}">阅读全文</a>
        <!-- .entry-content -->
    </article>
    <!-- #post-## -->
    {% end %}
</articles>
{% end %}
<!-- #main -->
<!-- #primary -->
{% block right_block %}
    <aside id="recent-posts-3" class="widget"><h3 class="widget-title">最新文章</h3>
        <div class="widget-content">
        <ul>
            {% for article in articles2 %}
            <li>
                <a href="/article/{{article['id']}}">{{article['title']}}</a>
            </li>
            {% end %}
        </ul>
         </div>
    </aside>
    
{% end %}
