{% extends "base.html" %}

        {% block header %}
        {% end %}

{% block left_block %}
<articles id="articles" >
    {% for article in articles %}
    <article id="post-2753" class="article"
            >
        <h2 class="article-title"><a href="/article/{{article['id']}}" rel="bookmark">{{article['title']}}</a></h2>

        <div class="entry-meta">
                    <span class="posted-on"><i class="fa fa-calendar"></i> <time class="entry-date published"
                                                                                 datetime="2014-11-05T09:38:43+00:00">
                        {{article["time"]}}
                    </time></span></div>
        <!-- .entry-meta -->
        <!-- .entry-header -->

        <div class="article-content">
            <p>{{article["content"][0:200]}}[…]</p>

        </div>
        <a class="btn btn-info read-more" rel="nofollow" href="/article/{{article['id']}}"
           title="{{article['title']}}">阅读全文</a>
        <!-- .entry-content -->
    </article>
    <!-- #post-## -->
    {% end %}
</articles>
{% end %}
<!-- #main -->
<!-- #primary -->
{% block right_block %}
    <aside id="recent-posts-3" class="widget"><h3 class="widget-title">最新文章</h3>
        <div class="widget-content">
        <ul>
            {% for article in articles2 %}
            <li>
                <a href="/article/{{article['id']}}">{{article['title']}}</a>
            </li>
            {% end %}
        </ul>
         </div>
    </aside>
    <aside class="widget">
            <h3 class="widget-title">近期热门 前端代码</h3>
            <div class="widget-content">
            <ul>
                <li>
                    <div class="content">
                        <p class="entry-meta">2014-11-12<span class="sep">•</span> 426Views</p>
                        <h4 class="entry-title"><a rel="bookmark" href="http://caibaojian.com/js-mobile-url.html"
                                                   title="js移动设备手机跳转地址代码" target="_blank">js移动设备手机跳转地址代码</a></h4>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p class="entry-meta">2014-11-15<span class="sep">•</span> 313Views</p>
                        <h4 class="entry-title"><a rel="bookmark" href="http://caibaojian.com/jquery-ajax-submit.html"
                                                   title="jQuery中使用ajax对表单数据进行异步验证" target="_blank">jQuery中使用ajax对表单数据进行异步验证</a>
                        </h4>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p class="entry-meta">2014-11-05<span class="sep">•</span> 310Views</p>
                        <h4 class="entry-title"><a rel="bookmark" href="http://caibaojian.com/iphone6-media.html"
                                                   title="iPhone6的CSS3媒体查询" target="_blank">iPhone6的CSS3媒体查询</a></h4>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p class="entry-meta">2014-11-15<span class="sep">•</span> 305Views</p>
                        <h4 class="entry-title"><a rel="bookmark"
                                                   href="http://caibaojian.com/jq-plugin-obj-developer-mode.html"
                                                   title="jQuery面向对象的开发模式" target="_blank">jQuery面向对象的开发模式</a></h4>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <p class="entry-meta">2014-11-05<span class="sep">•</span> 283Views</p>
                        <h4 class="entry-title"><a rel="bookmark" href="http://caibaojian.com/bootstrap-media.html"
                                                   title="Bootstrap CSS3媒体查询断点" target="_blank">Bootstrap CSS3媒体查询断点</a>
                        </h4>
                    </div>
                </li>

            </ul>
                </div>
    </aside>
{% end %}