{% extends "base.html" %}

{% block title %}
时间线
{% end %}


{% block left_block %}
<div class="row">
    <div class="timeline-boxx">

        <div class="timeline timeline-line-dotted">
            {% for p in pp %}
            {% if p['time'] %}
            <span class="timeline-label">
                <span class="label label-primary">{{p['time'][:10]}}</span>
            </span>
            {% end %}

            <div class="timeline-item">
                <div class="timeline-point timeline-point-success">
                    <i class="fa fa-life-ring"></i>
                </div>
                <div class="timeline-event">
                    {% if p['title'] %}
                    <div class="timeline-heading">
                        <h4>{{p['title']}}</h4>
                    </div>
                    {% end %}
                    <div class="timeline-body">
                        <p>{{p['content']}}</p>
                    </div>

                    <div class="timeline-footer">
                        <p class="text-right">{{p['time']}} </p>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
    </div>
</div>
{% end %}

